:root {
  --strong-blue: #273453;
  --blue: #1a2237;
  --blue-2: #1e3497;
  --background: #10141e;
  --light: #c0d2ff;
}

body {
  --sb-track-color: #181c27;
  --sb-thumb-color: #222d4c;
  --sb-size: 12px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.search-movies {
  /* color: white; */
  max-width: 340px;
  margin-top: 15px;
  padding: 10px 0 10px 10px;
  border-radius: 15px;
  background: var(--blue);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

.App {
  max-width: 1200px;
  color: #fff;
  margin: 2rem auto 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
