body {
  margin: 0;
  color: #fff;
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
}

.App {
  max-width: 1200px;
  color: #fff;
  margin: 2rem auto 3rem;
}

/* style input search  */
.search {
  color: gray;
  max-width: 340px;
  margin-top: 15px;
  padding: 10px 0 10px 10px;
  border-radius: 15px;
}
